<div class="container">
    <h4 class="display-4 my-5">Quem somos</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente soluta repudiandae, voluptatibus fugit expedita non commodi fugiat et, provident ab nemo ipsam, beatae ut hic dignissimos corporis voluptates! Dicta.
            Neque tempora esse quisquam incidunt mollitia cum adipisci corporis natus consequuntur similique labore vitae quos quod amet in, debitis deleniti recusandae maiores quia. Ducimus animi corrupti enim blanditiis odit recusandae.</p>

            <p>Nam officia perspiciatis minima. Voluptatem inventore alias quam dolorem sapiente quod dolorum, eum in officiis, est fugiat facilis reiciendis eius. Est hic neque perferendis adipisci non dignissimos sapiente sequi necessitatibus.
            Sit aperiam recusandae ipsam voluptatum? Ducimus beatae eius esse iusto nam cumque dolorem provident laboriosam rem soluta inventore cum tempora in exercitationem quaerat consequatur voluptatibus expedita, accusamus itaque possimus maxime.</p>

            <p>Soluta, nam. Repellendus possimus sunt ipsam repellat modi harum, deserunt distinctio, dolore officiis, cum pariatur perferendis libero porro cupiditate! Repudiandae officia libero dolorum ex, molestiae reiciendis sunt aut tenetur ipsum!
            Neque dolorem veniam atque quaerat laborum debitis officiis nobis, facilis odio quam velit magni harum! Vitae ullam voluptatibus odit sint deserunt repudiandae, minus explicabo, cumque nulla vel rerum magnam facilis.</p>

            <p>Voluptatum tempore eaque labore quaerat nobis doloremque quisquam necessitatibus. Quibusdam architecto iure a neque perspiciatis consectetur sequi provident, accusantium voluptas quia, blanditiis deserunt aliquam itaque vero cumque in similique natus.
            Molestiae quas repudiandae id facilis accusantium incidunt assumenda, neque fugit voluptatibus ea suscipit sapiente tempore voluptas. Sint vero id officia unde doloribus quod laboriosam eum, molestiae numquam dolorem nulla esse?</p>

            <p>Nesciunt aliquam non aperiam accusamus blanditiis dolor odit, asperiores atque, eligendi laudantium ut consequuntur maiores corporis tempora esse nobis, autem hic consectetur beatae placeat. Numquam nesciunt adipisci ab maxime totam!
            Autem tempore, dolor harum odit sunt eaque fugiat ea illum odio vel fugit esse sapiente ipsam natus mollitia dolores quas tenetur repellat voluptate aliquid blanditiis nam, distinctio, deserunt eum? Nulla.
            Obcaecati eius ad, numquam totam et, reprehenderit incidunt vel dolore corporis animi aut fugiat quia, cumque veniam facere labore quam? Magnam eos facere eveniet magni obcaecati veniam ipsa impedit fuga!</p>

            <p>Maiores, eius natus facilis, aperiam iusto tempore repudiandae nemo sed cum placeat quidem perferendis sint modi porro harum accusamus ducimus reiciendis exercitationem laudantium ipsum minima dignissimos? Reiciendis molestias accusamus dolore?
            Facilis libero doloremque ex odit, molestias, unde quas itaque aspernatur expedita, dolores totam recusandae ut beatae placeat! Alias facilis voluptatum laborum, reprehenderit qui voluptatibus expedita nulla fugit in, provident dolorum!</p>
            
            <p>Libero nam ipsam natus facilis laudantium sed. Illo, tempore pariatur consequuntur nihil praesentium ad at sapiente vel accusamus, sint corporis consectetur nesciunt dolorum obcaecati ea asperiores vitae architecto, molestiae ut?
            Tempora iure molestias maiores ad, repudiandae laudantium, possimus rem incidunt, eum voluptatum provident ipsum veritatis sunt necessitatibus cupiditate architecto assumenda ipsa adipisci atque voluptatem? Dolores asperiores magni quod! Deserunt, aperiam?</p>
        </div>
        <div class="col-4">
            <img style="width:100%" alt="foto" src="../assets/images/quemsomos.jpg"/>
        </div>
    </div>
</div>
