<div class="novapassword">
    <div class="card" style="width:488px;">
        <img class="card-img-top" style="width:488px" src="../static/images/Logo.png">
        <div class="card-body">
            <h4 class="display-4 my-3" style="font-size:24pt">Nova password</h4>
            <div class="form-group">
                <label for="password">Palavra-chave</label>
                <input type="password" class="form-control" placeholder="Indique a nova palavra-chave" id="password" name="password" required [(ngModel)]="NovaPassword.Password">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="password2">Repita a palavra-chave</label>
                <input type="password" class="form-control" placeholder="Repita a nova palavra-chave" id="password2" name="password2" required>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="row">
                <div class="col-12" style="text-align:right">
                    <button type="button" class="btn btn-dark" (click)="this.atualizarPassword()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        Alterar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
