<table>
    <tr>
        <td>
            <img src="../../../assets/images/{{tempo.FicheiroTempo}}"/>
        </td>
        <td>
            <span style="font-size:20pt">{{tempo.TemperaturaAtual}}ºC</span>
        </td>
        <td>
            <span class="ml-3" style="font-size:12pt"><b class="text-warning">Máx: </b>{{tempo.TemperaturaMaxima}}ºC</span><br/>
            <span class="ml-3" style="font-size:12pt"><b class="text-warning">Mín: </b>{{tempo.TemperaturaMinima}}ºc</span>
        </td>
    </tr>
</table>
