
<div class="container">
    <h4 class="display-4 my-5">Gestão</h4>
    <div class="row">
        <div class="col-6">
            <h4 class="display-4" style="font-size:20pt">Clientes</h4>
            <div id="graficoclientes" style="width:100%"></div>
        </div>
        <div class="col-6">
            <h4 class="display-4" style="font-size:20pt">Fornecedores</h4>
            <div id="graficofornecedores" style="width:100%"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="display-4" style="font-size:20pt">Produtos</h4>
            <div id="graficoprodutos" style="width:100%"></div>
        </div>
        <div class="col-6">
            <h4 class="display-4" style="font-size:20pt">Utilizadores</h4>
            <div id="graficoutilizadores" style="width:100%"></div>
        </div>
    </div>
</div>